<div class="panel-body">
  <%# エラーメッセージ表示機能追加%>
  <% if @message.errors.present? %>
  <div class="alert alert-danger">
    <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
        <li>
          <%= full_message %>
        </li>
 　　       <% end %> 
      </ul>
  </div>
  <% end %>
  <%# 名前/内容投稿フォーム・submitボタン設置 %>
  <%= form_for(Message.new, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <label for="inputname" class="col-sm-2 control-label">
        <span class="label label-info label-name">
          <%= f.label :name ,"お名前" %>
        </span>
      </label>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control", placeholder: "お名前を聞かせてください" %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputbody" class="col-sm-2 control-label">
        <span class="label label-info label-body">
          <%= f.label :body ,"内容" %>
        </span>
      </label>  
      <div class="col-sm-10">
        <%= f.text_area :body, class: "form-control", placeholder: "心温まるメッセージをこちらに" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <p>心温まるメッセージを投稿しますか？</p>
        <%# submitボタン設置。f.submitではglyphiconが埋め込めないためbutton_tagとする %>
        <%= button_tag(data: {confirm: "しつこいようですが、心温まるメッセージですよね？"}, class: "btn btn-primary btn-sm") do %>
          御意!! >
          <%= content_tag :span, " ", class: "glyphicon glyphicon-user" %>
        <% end %>
        <%# 断るボタン設置 %>
        <a href="http://search.kids.yahoo.co.jp/bin/search?ei=UTF-8&p=%E3%82%84%E3%81%95%E3%81%97%E3%81%95%E3%81%A8%E3%81%AF" target="_blank" class="btn btn-danger" role="button">断る</a> 
        <%# 断るボタン設置終了 %>
      </div>
    </div>
  <% end %>
  <%# 名前/内容投稿フォーム・submitボタン設置終了 %>
</div>
</div>
  <%# お願い事項ここから %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        <span class="glyphicon glyphicon-warning-sign"></span>
          お願い事項
      </div>
    </div>
    <div class="panel-body">
      おてやわらかにお願いします。
    </div>
  </div>
    <%# お願い事項ここまで %>