<h1>メッセージ一覧</h1>
<%# controllerから渡された@messagesを用いて名前と内容を表示 %>
<% @messages.each do |message| %>
  名前:<%= message.name %>
  内容:<%= message.body %>
  <br>
<% end %>

<%= form_for(Message.new) do |f| %>
  名前：
  <%= f.text_field :name %>
  
  内容：
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
