<div class="page-header">
  <h1>heart warming message board</h1>
</div>
<div class="page-body">
  <%# メッセージ一覧ここから %>
  <div class="row">
    <div class="icon col-sm-3 hidden-xs">
      <span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true"></span>
        <div class="icon-caption">心温まるこれまでの<br>メッセージ</div>
    </div>
    <div class="content col-sm-9">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
          <span class="glyphicon glyphicon-tree-deciduous"></span>
            メッセージ一覧
          </div>
        </div>
        <div class="panel-body">
          <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span>
            <%= message.body %><br>
            (<%= link_to "edit" , edit_message_path(message) %>
             <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
            )
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%# メッセージ一覧ここまで %>
  <hr>
<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>
</div>