<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="gyoi">
    <meta name="description" content="TechAcademy online bootcampで作成したメッセージボードです。">
    <meta name="keywords" content="プログラミング,ruby,Ruby on Rails,rails,メッセージボード">
    <title>gyois' Message Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%# ヘッダここから %>
    <header>
      <%# ナビゲーションボタンの配置 %>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-menu">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://[add_after]">gyoi's message board</a>
              </div>
              <div class="collapse navbar-collapse" id="site-menu">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                        <a href="https://gyoi.github.io/" target="_blank">
                          <span class="glyphicon glyphicon-home"></span>
                          <div class="icon-caption">gyois' portfolio</div>
                        </a>
                      </li>
                      <li>
                        <a href=https://github.com/gyoi target="_blank"><img src="https://gyoi.github.io/picture/github.jpg" alt="github" /></a>
                      </li>
                      <li>
                        <a href=https://twitter.com/GyoiZamurai target="_blank"><img src="https://gyoi.github.io/picture/twitter.jpg" alt="twitter" /></a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <%# ナビゲーションボタンの配置終了 %>
      <%# ロゴの配置 %>
      <div id="logo">
        <img src="https://gyoi.github.io/picture/gyoi.jpg" alt="gyoi" />
      </div> 
      <%# ロゴの配置終了 %>
    </header>
    <%# ヘッダここまで %>
    <div class="container">
      <% if notice %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
      <% end %>
      
      <%= yield %>
    <footer>
      <div class="copyright">© 2015 gyoi </div>
    </footer>
    </div>
  </body>
</html>